.container{
  display: flex; 
  flex-direction: column; 
  justify-content: center;
  align-items:center; 
  height: 100vh; 
}

.h1{
  color: black; 
  margin-bottom: 30px; 
  text-align: center; 
}

.grid { 
  display: grid; 
  grid-template-columns: repeat(3, 200px); 
  grid-template-rows: repeat(3, 200px);
  gap: 75px; 
}

.img{
  height: auto;  
  width: auto; 
}

.grid-item{ 
  display: flex;
  flex-direction : column ;
  border: 1px solid #333;

}

.text-container{
  height: 70px; 
}

.h2{
  font-size: 20px; 
  width: auto; 
  margin: 0;
  text-align: center; 
}

.character-detail {
  margin-top: 20px;
}

.character-detail h2 {
  font-size: 24px;
}

.character-detail p {
  font-size: 16px;
  margin-top: 10px;
}

.character-detail h3 {
  margin-top: 20px;
}

.character-detail ul {
  list-style-type: none;
  padding: 0;
}

.character-detail li {
  
  margin: 5px 0;
  padding: 10px;

}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 1rem;
}

nav li {
  margin: 0;
}

nav a {
  text-decoration: none;
  color: black;
}

nav .active {
  font-weight: bold;
  color: blue; /* Or any color to highlight the active link */
}
